html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 80%;
  margin: auto;
  border: dashed 1px tomato;
}

.link {
  text-decoration: none;
  background-color: olive;
  color: white;
  display: inline-block;
  margin: 0.5rem 0;
}